openapi: 3.0.3
info:
  title: Race Entry Software Event API
  description: The Race Entry Software API was designed for Director software and timing integrations. It provides programmatic access to events, registrations, participants, teams, results, check-in PINs, club memberships, and event creation flows. Authentication is performed via login to obtain a temporary key and secret that expire after 48 hours.
  version: '1.0'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
servers:
- url: https://www.raceentry.com/softwareapi
  description: Production
- url: https://demo.raceentry.com/softwareapi
  description: Test
security:
- TempCredentials: []
tags:
- name: Event
paths:
  /event/get_create_data:
    get:
      summary: Get event creation data
      description: Fetch supported event types, timezones, and states for creating events.
      operationId: getEventCreateData
      responses:
        '200':
          description: Reference data for event creation
      tags:
      - Event
  /event/create:
    post:
      summary: Create event
      description: Create a new race event.
      operationId: createEvent
      responses:
        '200':
          description: Event created
      tags:
      - Event
  /event/copy:
    post:
      summary: Copy event
      description: Copy an existing event to a new year.
      operationId: copyEvent
      responses:
        '200':
          description: Event copied
      tags:
      - Event
components:
  securitySchemes:
    TempCredentials:
      type: apiKey
      in: query
      name: tmp_key
      description: Temporary key returned from /login. Must be supplied alongside tmp_secret query parameter. Credentials expire after 48 hours.
